<%= image_tag("Main2.jpg", alt: "Carly & Cory", :class => "mainPhoto") %>

<div class="container-fluid">
	<div class="row-fluid">
		<div class="span2">
		</div>
		<div class="span3">
			<div class="carlyPhoto">
			</div>
			<div id="Her"><h3>Her</h3><h3 class="hidden">?</h3>	
			</div>
				<p>My name is Carly and I am really cool.</p>
		</div>
		<div class="span2">
		</div>
		<div class="span3">
			<div class="coryPhoto">
			</div>
			<div id="Him"><h3>Him</h3>
			</div>
			<p>Cory is a 23 year old, smart, witty, and good looking man who happens to be my future husband (how did I get so lucky?)! He enjoys good movies, sweet tea, golfing, and America. His adventurous and curious spirit will always keep us entertained.</p>
		</div>
		<div class="span2">
		</div>
	</div>
</div>

<!-- <div class="center hero-unit">
	<h1>Carly & Cory</h1>
	<p>
  	Home page.
	</p>
</div> -->