@import "bootstrap";

/* universal */

html {
	overflow-y: scroll;
}

body {
	background-color: #ede7dd;
}

section {
	overflow: auto;
}

textarea {
	resize: vertical;
}

.center {
	text-align: center;
}

.center h1 {
	margin-bottom: 10px;
}

/* Navigation */

.nav {
	position: fixed;
	width: 100%;
	margin-left: 5%;
	bottom: 0;
	text-align: center;
}

.nav-pills a {
	font-family: bebas neue;
	letter-spacing: .1em;
	color: #1A2043;
	font-size: 30px;
	font-weight: 400;
	text-transform: uppercase;
}

.nav-pills a:hover {
	border-bottom: 5px solid #F4DFD3;
	margin-top: -5px;
}

.nav-pills :hover {
	background-color: none;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
  color: #1A2043;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #999;
}

h3 {
	display: inline;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

.hidden {
	color: #ede7dd;
}


/* header

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}
*/


/* Footer */

.footerPhoto {
	display: block;
	width: 20%;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 80px;
	}

/* Home */

.mainPhoto {
	width: 100%;
	height: auto;
	left: 0px;
	top: 0px;
}

.carlyPhoto {
	width: 100%;
	height: 250px;
	left: 0px;
	top: 0px;
	background: #999999;
}

.coryPhoto {
	width: 100%;
	height: 250px;
	left: 0px;
	top: 0px;
	background: #999999;
}

/* Ceremony */

.map {
	width: 800px;
	margin: 0 auto;
	margin-bottom: 30px;
}


/* Registry */

.registry {
	margin-left: 38%;
	font-size: 30px;
	margin-bottom: 30px;
}


/* RSVP */

.radio {
	margin-right:0;
}

.form-actions {
	background-color: #ede7dd;
}